{% extends 'profile/baseProfile.html.twig' %}

{% block title %}{% trans %}shop{% endtrans %}: {{ shop.name }}{% endblock %}

{% block contentTitle %}
    <h1>{% trans %}shop{% endtrans %}: {{ shop.name }}</h1>
{% endblock %}
{% block content %}

{% endblock %}

